.search-container {
  margin: 1.6em 0;
}
input {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: inherit;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-text2);
  display: table;
}
input:focus {
  outline: none;
  border-color: var(--color-accent);
}

.list-wrapper {
  border: 1px solid var(--color-text2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  padding: 1.2rem 0.8rem;
  text-align: left;
  font-weight: bold;
}

thead th:last-child,
tbody td:last-child {
  border-left: 1px solid var(--color-text2);
}

tbody tr {
  border-top: 1px solid var(--color-text2);
}

tbody td {
  padding: 1.2rem 0.8rem;
  line-height: 1;
}
