.btn-next#correct {
  color: var(--color-background) !important;
  background: var(--color-green) !important;
}
.btn-next#wrong {
  color: var(--color-background) !important;
  background: var(--color-red) !important;
}