.exercise-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* ***** QUESTION ***** */
.exercise-question {
  margin-bottom: 1.2rem;
}




.exercise-answers > div {
  display: flex;
  gap: 20px;
}
.exercise-answers {
  margin-top: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.exercise-answers.flexed {
  display: flex;
  gap: 8px;
}
.btn-guess,
.btn-match {
  flex: 1 1 120px;   /* grow | shrink | preferred width */
  white-space: normal;
  word-break: break-word;
  text-align: center;
}


/* ***** GUESS TRANSLATION BUTTONS ***** */
.btn-guess {
  width: 100%;
  margin-bottom: 1rem;
}
.btn-guess.correct {
  background: var(--color-green) !important;
  color: var(--color-background) !important;
  opacity: 1;
}
.btn-guess.wrong {
  background: var(--color-red) !important;
  color: var(--color-background) !important;
  opacity: 1;
}



/* ***** MATCH PAIRS BUTTONS ***** */
.pairs-grid {
  display: flex;
  justify-content: space-between;
}
.btn-match {
  width: 100%;
  margin-bottom: 1rem;
}
.btn-match.correct {
  background: var(--color-green) !important;
  color: var(--color-background) !important;
  opacity: 0.6;
}

.btn-match.wrong {
  background: var(--color-red) !important;
  opacity: 0.9;
}

.selected {
  outline: 2px solid var(--color-accent);
  filter: brightness(82%);
}


/* ***** FEEDBACK ***** */
.exercise-feedback {
  margin: 0.74rem auto;
  padding: 6px 0;
  font-weight: bold;
}


/* ***** HINT ***** */
.exercise-hint {
  text-align: center;
  margin: 1rem 0 2rem;
  margin: 12px auto;
  padding: 6px 0;
}