html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
}
main {
  flex: 1;
  overflow-y: auto;
}
@media screen and (min-height:700px) {
  main {
    margin-top: 6rem;
  }
}

footer {
  margin-top: 0;
  flex-shrink: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.app h2 {
  margin: 0.8rem 0 2rem;
}


/* ***** NEXT/DELETE BUTTONS ***** */
.app #buttons {
  width: 70%;
  margin-top: 2.4rem;
  display: flex;
  gap: 8px;
}
.app #buttons button {
  width: 100%;
  color: var(--color-skip-btn-fg);
  background: var(--color-skip-btn-bg);
}


/* ***** PROGRESS BAR & SKIP ***** */
#bottom-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#progress-and-skip-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}